/*

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
- Tints:

- Shades: 

- Accents:
- Greys



 (lightest  allowed on )
 (lightest  allowed on )


--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/




/* ******************************** */
/* **********GENERAL********* */
/* ******************************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: #333;
    font-family: "rubik", sans-serif;
    line-height: 1;2.2
    font-weight: 400;
    overflow-x: hidden;
}

.container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 3.2rem;
}

.grid {
    display: grid;
}

.grid-colm--1 {
    grid-template-columns: 1fr;
}

.grid-colm--2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-colm--3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-colm--4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-colm--5 {
    grid-template-columns: repeat(5, 1fr);
}

.grid-colm--6 {
    grid-template-columns: repeat(6, 1fr);
}

.a-center {
    align-items: center;
}

.j-center {
    justify-content: center;
}